<div class="container">
<h1>Stupid Coaching</h1>

<div id="question">
<p><%= @message %></p>
<p><i>-You</i></p>
</div>

<div id="answer">
<p><%= @answer %></p>
<p><i>-Your coach</i></p>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
